jobs:
  install-node:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - checkout
      - node/install:
            install-npm: true
            node-version: latest
      - run: node --version
      - run: git clone https://github.com/wndsrfr21/landingpagetemplate.git
      - run: sudo npm install -g firebase-tools
      #- run: ./node_modules/.bin/firebase deploy --token=$FIREBASE_TOKEN_ALEX --non-interactive
      - run: sudo firebase deploy --token=$FIREBASE_TOKEN --only hosting
   
orbs:
  node: circleci/node@3.0.0
version: 2.1
workflows:
  deploy_alexanderdonn_website:
    jobs:
      - install-node
